/* Styles for .App */
.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px; /* Default font size */
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
  /* Adjust the font size for smaller screens */
  .App {
    font-size: 18px;
  }
  
  /* You can add more styles here for smaller screens if needed */
}
